 /* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 200px;
    right: 200px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
} 


header h1.mdl-layout-title {
    font-size: 32px;
    color: white;
}
header h1 span {
    color: #ff6e40;
}

.profile {
   background-color: #263238;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.profile span {
   font-size: 90%;   
}
.avatar {
  width: 96px;
  height: 96px;  
    border-radius: 50%;
    
    display: block;
}

.page-content {
  margin: 10px;   
}

main header {
    margin: 0;
    min-height: 40px;
    padding-left: 10px;
    padding-top: 5px;
}
main header h4 {
  margin: 0; 
    
    font-size: 18px;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 500px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('/project1/images/welcome_card.jpg') bottom right 15% no-repeat #46B6AC;}

.card-lesson {
  min-width: 200px;
  min-height: 200px;
}
.card-lesson > .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.card-lesson > .mdl-card__title {
  align-items: flex-start;
}
.card-lesson > .mdl-card__title > h4 {
  margin-top: 0;
}
.card-lesson > .mdl-card__title, .card-lesson > .mdl-card__supporting-text, .card-lesson > .mdl-card__actions, .card-lesson > .mdl-card__actions > .mdl-button {
  _color: #fff;
}


.inlinesparkline  {width: 70%;}

  .demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
    float: left;
    margin: 1rem;
    position: relative;
  }
  
  .demo-card-square.mdl-card:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  }
  
 .mdl-card__title-text {
    align-self: flex-end;
    color: inherit;
    display: flex;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    overflow: hidden;
    transform-origin: 149px 48px 0px;
    margin: 0px;
}

.demo2-card-square.mdl-card {
    width: 380px;
    height: 500px;
    float: left;
    margin: 1rem;
    position: relative;
  }
  
  .demo2-card-square.mdl-card:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  }
  
  .demo2-card-square.mdl-card {
  width: 300px;
  height: 1250px;
}
.demo2-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('/project1/images/welcome_card.jpg') bottom right 15% no-repeat #46B6AC;}
    
.mdl-card--expand {
    flex-grow: 0;
}

.demo3-card-square.mdl-card {
    z-index: -1;
    width: 380px;
    height: 500px;
    float: left;
    margin: 1rem;
    position: relative;
  }
  
  .demo3-card-square.mdl-card:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  }
  
  .demo3-card-square.mdl-card {
  width: 300px;
  height: 1250px;
}
.demo3-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('/project1/images/welcome_card.jpg') bottom right 15% no-repeat #46B6AC;}

.mdl-card2 {
  z-index: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  min-height: 200px;
  overflow: hidden;
  background: #FFF none repeat scroll 0% 0%;
  border-radius: 2px;
  box-sizing: border-box;
}

.mdl-layout__containerlogin {
	align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.mdl-layoutlogin {
	align-items: center;
  justify-content: center;
}
.mdl-layout__contentlogin {
	padding: 24px;
	padding-top: 200px;
	display: block;
    margin: auto;
    width: 20%;
	flex: none;
}

#content{
  display:none;
}

